<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dam_proyecto_final">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_blistico"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DAM_Proyecto_final"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".walktrough.WalktroughActivity"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".home.homeui.group_invoice.group_invoice_tabui.InvoiceOCRAddActivity"
            android:exported="true" />
        <activity
            android:name=".home.homeui.group_invoice.group_invoice_tabui.GroupInvoiceFilter"
            android:exported="true"
            android:parentActivityName=".home.homeui.group_invoice.GroupInvoiceTab"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".registry.RegistryGoogleActivity" />
        <activity android:name=".home.homeui.group_invoice.group_invoice_tabui.edit_group.GroupInvoiceEditGroup" />
        <activity android:name=".home.homeui.group_invoice.GroupInvoiceAdd" />
        <activity
            android:name=".home.homeui.group_invoice.GroupInvoiceTab"
            android:parentActivityName=".home.HomeActivity" />
        <activity
            android:name=".home.homeui.group_invoice.GroupInvoiceEmptyActivity"
            android:parentActivityName=".home.HomeActivity" />
        <activity
            android:name=".home.homeui.groupui.GroupAddActivity"
            android:parentActivityName=".home.HomeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".registry.RegistryActivity" />
        <activity android:name=".home.HomeActivity" />
        <activity android:name=".LoginActivity"
            android:noHistory="true"></activity>
    </application>

</manifest>